*.class

# Package Files #
*.jar
*.war
*.ear
.metadata/.lock
.metadata/.log
.metadata/.mylyn/repositories.xml.zip
.metadata/.mylyn/tasks.xml.zip
.metadata/.plugins/org.eclipse.core.resources/.history/1a/c063f57748a7001115f692a4fe718993
.metadata/.plugins/org.eclipse.core.resources/.history/41/50ace57748a7001115f692a4fe718993
.metadata/.plugins/org.eclipse.core.resources/.history/5c/5069057848a7001115f692a4fe718993
.metadata/.plugins/org.eclipse.core.resources/.history/65/c09feb7748a7001115f692a4fe718993
.metadata/.plugins/org.eclipse.core.resources/.history/69/30cfe77748a7001115f692a4fe718993
.metadata/.plugins/org.eclipse.core.resources/.history/7f/b0c4087848a7001115f692a4fe718993
.metadata/.plugins/org.eclipse.core.resources/.history/ad/a0e0e87748a7001115f692a4fe718993
.metadata/.plugins/org.eclipse.core.resources/.history/b8/d073e47748a7001115f692a4fe718993
.metadata/.plugins/org.eclipse.core.resources/.history/c0/1098f87748a7001115f692a4fe718993
.metadata/.plugins/org.eclipse.core.resources/.history/c7/4067ea7748a7001115f692a4fe718993
.metadata/.plugins/org.eclipse.core.resources/.history/d2/3075f67748a7001115f692a4fe718993
.metadata/.plugins/org.eclipse.core.resources/.history/f4/a05fbf7748a7001115f692a4fe718993
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.jdt.core.external.folders/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.jdt.core.external.folders/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.jdt.core.external.folders/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Identity/.indexes/92/e4/7d/1c/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Identity/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Identity/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/.snap
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.usagedata.recording.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.epp.usagedata.recording/usagedata.csv
.metadata/.plugins/org.eclipse.jdt.core/.org.eclipse.jdt.core.external.folders/.project
.metadata/.plugins/org.eclipse.jdt.core/1271342938.index
.metadata/.plugins/org.eclipse.jdt.core/1300237607.index
.metadata/.plugins/org.eclipse.jdt.core/1384487945.index
.metadata/.plugins/org.eclipse.jdt.core/156905802.index
.metadata/.plugins/org.eclipse.jdt.core/1722117628.index
.metadata/.plugins/org.eclipse.jdt.core/1819685514.index
.metadata/.plugins/org.eclipse.jdt.core/1833648217.index
.metadata/.plugins/org.eclipse.jdt.core/2101932876.index
.metadata/.plugins/org.eclipse.jdt.core/2286151582.index
.metadata/.plugins/org.eclipse.jdt.core/2326659272.index
.metadata/.plugins/org.eclipse.jdt.core/235160565.index
.metadata/.plugins/org.eclipse.jdt.core/240693544.index
.metadata/.plugins/org.eclipse.jdt.core/2545238116.index
.metadata/.plugins/org.eclipse.jdt.core/2572540580.index
.metadata/.plugins/org.eclipse.jdt.core/272178059.index
.metadata/.plugins/org.eclipse.jdt.core/2982688190.index
.metadata/.plugins/org.eclipse.jdt.core/3000285004.index
.metadata/.plugins/org.eclipse.jdt.core/3004609673.index
.metadata/.plugins/org.eclipse.jdt.core/303671662.index
.metadata/.plugins/org.eclipse.jdt.core/3114850333.index
.metadata/.plugins/org.eclipse.jdt.core/3266567714.index
.metadata/.plugins/org.eclipse.jdt.core/3302703152.index
.metadata/.plugins/org.eclipse.jdt.core/3321539481.index
.metadata/.plugins/org.eclipse.jdt.core/3343648309.index
.metadata/.plugins/org.eclipse.jdt.core/3541974948.index
.metadata/.plugins/org.eclipse.jdt.core/3712507179.index
.metadata/.plugins/org.eclipse.jdt.core/3873669626.index
.metadata/.plugins/org.eclipse.jdt.core/3954040986.index
.metadata/.plugins/org.eclipse.jdt.core/4238209716.index
.metadata/.plugins/org.eclipse.jdt.core/4249315662.index
.metadata/.plugins/org.eclipse.jdt.core/4260676685.index
.metadata/.plugins/org.eclipse.jdt.core/450555687.index
.metadata/.plugins/org.eclipse.jdt.core/479313209.index
.metadata/.plugins/org.eclipse.jdt.core/498389805.index
.metadata/.plugins/org.eclipse.jdt.core/64089862.index
.metadata/.plugins/org.eclipse.jdt.core/765977872.index
.metadata/.plugins/org.eclipse.jdt.core/770573466.index
.metadata/.plugins/org.eclipse.jdt.core/84777399.index
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/Identity/2012/5/21/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/Identity/2012/5/21/refactorings.index
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.0.200.20111228-1245.xml
.metadata/.plugins/org.eclipse.team.cvs.core/.running
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/.plugins/org.eclipse.wb.discovery.core/toolkit_gwt.png
.metadata/.plugins/org.eclipse.wb.discovery.core/toolkit_swing.png
.metadata/.plugins/org.eclipse.wb.discovery.core/toolkit_swt.png
.metadata/.plugins/org.eclipse.wb.discovery.core/toolkit_xwt.png
.metadata/.plugins/org.eclipse.wb.discovery.core/toolkits.xml
.metadata/.plugins/org.python.pydev/ping.log
.metadata/version.ini
.metadata/.mylyn/.tasks.xml.zip
.metadata/.plugins/org.eclipse.core.resources/.history/b7/f0c3d9514aa7001115f692a4fe718993
.metadata/.plugins/org.eclipse.core.resources/.projects/Identity/.indexes/e4/e4/7d/1c/5/history.index
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.sse.core.prefs
