*.class

# Package Files #
*.jar
*.war
*.ear
.metadata/.lock
.metadata/.log
.metadata/.plugins/**/*
.metadata/.mylyn/backup/*
Identity/.settings/org.eclipse.jdt.ui.prefs
Identity/.settings/org.eclipse.mylyn.tasks.ui.prefs